/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
#root {
  --footer-height: 50px;
}

div {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* 
  imgのサイズ調整に関しては、
  ChatGPTが生成する画像のサイズ次第で
  変更する。
  もしChatGPTが生成する画像のサイズが一定なのであれば、
  それに合わせて調整する
  そうでない場合は
  また検討する。
*/
img {
  width: 300px;

}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.createdImage {
  border: 10px solid;
  border-image: linear-gradient(to right bottom,#e0d9b6,#b4983a) 1  / 10px;
  outline: 3px outset #efe9cc;
  padding: 15px;
  background: #fff;
  box-shadow: 1px 3px 10px #999;
}

.description {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.copyright {
  background-color: lightgray;
  text-align: center;
  padding: 10px 0;
  height: var(--footer-height);
  width: 100%;
  position: absolute;
  left: 0;
}

.imageDetails {
  flex: 1;
  padding-bottom: var(--footer-height);
}
