#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* 
  imgのサイズ調整に関しては、
  ChatGPTが生成する画像のサイズ次第で
  変更する。
  もしChatGPTが生成する画像のサイズが一定なのであれば、
  それに合わせて調整する
  そうでない場合は
  また検討する。
*/
img {
  width: 300px;

}

.description {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.imageDetails {
  /** 
    * 本当は画像のフレーム部分に額縁みたいなものをつけれたら
    * 良さそうなんだけど、
    * 一旦フレームがどのくらいかを出すために入れた。
    * あとで調整する
    * 額縁みたいなのを入れないのであれば、枠線削除する
    * (あると違和感感じるので)
    */
  padding: 1em;
  border: 1px solid #000;
  /* border-color: red; */
}